.idea/
.vscode/
.vs/
libs/
target/
x64/
bin/
CSharp-API_Example/binx64/
Agora-C_Sharp-RTC-SDK/CI/publish/
Agora-C_Sharp-RTC-SDK/CSharp-API_Example/
agora_cpp.dll
agora_rtc_sdk.dll
obj/
*.zip
*.rar
*.7z
binx86/
binx64/