name: Generate codes and create pull request

on:
  workflow_dispatch:
    inputs:
      dependencies-content:
        description: The content of dependencies
        required: true
        type: string

jobs:
  generate-codes:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup
        uses: ./.github/setup

      - name: Save original branch name
        id: save-ref
        run: |
          echo "original_branch=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          echo "target_branch=terra/${{ github.ref_name }}" >> $GITHUB_OUTPUT

      - name: Ensure target branch exists and checkout
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          TARGET_BRANCH="${{ steps.save-ref.outputs.target_branch}}"
          ORIGINAL_BRANCH="${{ steps.save-ref.outputs.original_branch }}"
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git fetch origin

          if git ls-remote --heads origin "$TARGET_BRANCH" | grep -q "refs/heads/$TARGET_BRANCH"; then
            echo "Branch '$TARGET_BRANCH' exists. Checking out..."
            git checkout "$TARGET_BRANCH"
          else
            echo "Branch '$TARGET_BRANCH' does not exist. Creating..."
            # Create from main if not exists
            git checkout -b "$TARGET_BRANCH" "origin/$ORIGINAL_BRANCH"
            git push origin "$TARGET_BRANCH"
          fi

      - name: Get dependencies
        id: dep
        uses: AgoraIO-Extensions/actions/.github/actions/dep@main
        with:
          dependencies-content: ${{ inputs.dependencies-content }}

      - name: Update dependencies
        run: |
          python ./github/workflows/Update-Deps.py ${{ steps.dep.outputs.matches }}

      - name: Generate code and comment by terra
        id: generate
        uses: AgoraIO-Extensions/actions/.github/actions/generate@main
        continue-on-error: true
        with:
          working-directory: "terra"
          github-token: ${{ secrets.GH_TOKEN }}
          generate-code: true
          generate-comment: false
          generate-code-command: |
            sh prepare.sh
            sh rtc.sh

      - name: Create pull request
        id: create_pr
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          TARGET_BRANCH="${{ steps.save-ref.outputs.target_branch }}"
          ORIGINAL_BRANCH="${{ steps.save-ref.outputs.original_branch }}"
          PR_TITLE="Auto: Generate code and update dependencies"
          PR_BODY="This PR is automatically created by GitHub Actions to generate code and update dependencies."
          
          if git diff --quiet; then
             echo "No changes to commit."
          exit 0
          fi

          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          git add .
          git commit -m "update dependencies and generate code by terra"
          git push origin "$TARGET_BRANCH"

          PR_URL=$(gh pr list --base "$TARGET_BRANCH" --head "$TARGET_BRANCH" --json url --jq '.[0].url')
          if [ -z "$PR_URL" ]; then
            PR_URL=$(gh pr create --title "$PR_TITLE" --body "$PR_BODY" --base "$ORIGINAL_BRANCH" --head "$TARGET_BRANCH")
            echo "Created PR: $PR_URL"
          else
            echo "PR already exists: $PR_URL"
          fi

      - name: Check csharp codes compile
        run: |
          cd Agora-C_Sharp_RTC-SDK_UT
          dotnet restore Agora_C_Sharp_SDK_UT.sln
          dotnet build Agora_C_Sharp_SDK_UT.sln --configuration Release
          if [ $? -ne 0 ]; then
            echo "csharp codes compile error"
            exit 1
          else
            echo "csharp codes compile success"
          fi
